@model IEnumerable<OdeToFood.Models.RestaurantListVM>

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index","Home", FormMethod.Get))
{
    <input type="search" name="searchTerm"/>
    <input type="submit" value="Search By Name" />
}

@foreach (var item in Model)
{
    <div>
        <h4>@item.Name</h4>
        <div>@item.City, @item.Country</div>
        <div>Reviews: @item.CountOfReviews</div>
        <br />
    </div>
}